---
import Layout from "../layouts/Layout.astro";
import SOSC from "@/assets/sosc_logo.svg";
import HeroConnect from "@/assets/home/hero_connect.png";
import HeroClubs from "@/assets/home/hero_clubs.png";
import HeroGithub from "@/assets/home/hero_github.png";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
---

<Layout>
  <section class="bg-background text-foreground flex h-screen">
    <div class="mx-auto flex max-w-7xl flex-row items-center px-6">
      <div class="max-w-xl space-y-4">
        <Image src={SOSC} alt={"Logo"} class={"h-12 w-fit"} loading={"eager"} />
        <h1 class="text-4xl font-semibold">Sahyadri Open Source Community</h1>
        <p class="text-muted-foreground text-lg">
          A community driven by tech enthusiasts and open-source contributors,
          to help young students become part of the open-source ecosystem
          through training and skill development.
        </p>
        <Button className="rounded-full">
          <a href="/guidelines"> Community Guidelines </a>
        </Button>
      </div>
    </div>
  </section>

  <section class="bg-background text-foreground py-16">
    <div
      class="reverse mx-auto flex max-w-7xl flex-col items-center justify-between gap-10 px-6 md:flex-row [&.reverse]:md:flex-row-reverse"
    >
      <div class="max-w-xl space-y-4">
        <h1 class="text-4xl font-semibold">Get Trained by Experts</h1>
        <p class="text-muted-foreground text-lg">
          SOSC is all about helping each other to learn and improve, we conduct
          workshops and trainings led by speakers from other technical
          communities, and student experts. Keeping up to date with latest
          technologies and learning new things is what most of love. Here is
          your chance to attend workshops, training and even host non-profit
          events to help others.
        </p>
      </div>

      <div class="w-full md:w-1/2">
        <div class="aspect-[16/10]">
          <Image
            src={HeroGithub}
            alt={"hero_github"}
            format="webp"
            quality={80}
            loading="eager"
          />
        </div>
      </div>
    </div>

    <section class="bg-background text-foreground py-16">
      <div
        class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-10 px-6 md:flex-row [&.reverse]:md:flex-row-reverse"
      >
        <div class="max-w-xl space-y-4">
          <h1 class="text-4xl font-semibold">Explore clubs and Activities</h1>
          <p class="text-muted-foreground text-lg">
            SOSC is a conglomeration of clubs and individuals who contribute to
            the community by helping us conduct events and activities. there are
            numerous clubs and experts who help shape the community to be
            pro-active. Mozilla Campus Clubs, Developer Students clubs, and the
            GitHub Campus Expert are to name a few.
          </p>
        </div>

        <div class="w-full md:w-1/2">
          <div class="aspect-[16/10]">
            <Image
              src={HeroClubs}
              alt={"hero_clubs"}
              format="webp"
              quality={80}
              loading="eager"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="bg-background text-foreground py-16">
      <div
        class="reverse mx-auto flex max-w-7xl flex-col items-center justify-between gap-10 px-6 md:flex-row [&.reverse]:md:flex-row-reverse"
      >
        <div class="max-w-xl space-y-4">
          <h1 class="text-4xl font-semibold">Get Connected !</h1>
          <p class="text-muted-foreground text-lg">
            Meet people with similar interest to work together on projects and
            host events to build a better collaborative environment. We are more
            than 100 members with interests on various fields of technology here
            to know each other and get connected. Meet our members to know more
            about us and build something cool!
          </p>
          <Button className="rounded-full">
            <a href="/team"> Learn More </a>
          </Button>
        </div>
        <div class="w-full md:w-1/2">
          <div class="aspect-[16/10]">
            <Image
              src={HeroConnect}
              alt={"hero_connect"}
              format="webp"
              quality={80}
              loading="eager"
            />
          </div>
        </div>
      </div>
    </section>
  </section>
</Layout>
