---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Cover from "@/assets/cover/team.jpg";
import { team } from "@/data/loader";
import ProfileCard from "@/components/cards/ProfileCard.astro";

const coordinatorMembers = team.filter((m) => m.status === "coordinator");
const alumniMembers = team.filter((m) => m.status === "alumni");
const activeMembers = team.filter((m) => m.status === "active");
---

<Layout>
  <Hero
    image={Cover}
    title="Our Team"
    subtitle="Meet the passionate individuals driving our community forward."
  />

  <section
    class="py-20 max-w-7xl mx-auto px-4 md:px-8 text-foreground space-y-16"
  >
    <div>
      <h2 class="text-3xl font-bold mb-6">Co-ordinator</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {coordinatorMembers.map((member) => <ProfileCard member={member} />)}
      </div>
    </div>

    <div>
      <h2 class="text-3xl font-bold mb-6">Community Member</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {activeMembers.map((member) => <ProfileCard member={member} />)}
      </div>
    </div>

    <div>
      <h2 class="text-3xl font-bold mb-6">Alumni</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {alumniMembers.map((member) => <ProfileCard member={member} />)}
      </div>
    </div>
  </section>
</Layout>
