---
const currentYear = new Date().getFullYear();
---

<footer class="bg-primary text-primary-foreground border-t border-muted">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between py-5">
      <div class="mb-6 md:mb-0">
        <div class="pb-5">
          <a href="/" class="flex items-center pt-5 w-fit">
            <span class="self-center text-xl font-semibold whitespace-nowrap">
              Sahyadri Open Source Community
            </span>
          </a>
          <p class="pt-2">
            Sahyadri College of Engineering and Management, Adyar, Mangalore -
            575007 IN
          </p>
          <a
            href="mailto:sosc@sahyadri.edu.in"
            target="_blank"
            class="pt-2 underline underline-offset-2"
          >
            sosc@sahyadri.edu.in
          </a>
          <p class="pt-2">+91 79941 34420</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-8 sm:gap-6">
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase">Follow us</h2>
          <ul class="flex flex-col gap-4 font-medium">
            <li>
              <a
                href="https://github.com/so-sc"
                target="_blank"
                class="underline underline-offset-2 font-light">GitHub</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/sosc.sahyadri"
                target="_blank"
                class="underline underline-offset-2 font-light"
                >Instagram</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/sosc-sahyadri"
                target="_blank"
                class="underline underline-offset-2 font-light"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://twitter.com/sahyadri_osc"
                target="_blank"
                class="underline underline-offset-2 font-light">X</a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UCk8nlSMwUT-jhEtamMF-V-w"
                target="_blank"
                class="underline underline-offset-2 font-light"
                >YouTube</a
              >
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase">Others</h2>
          <ul class="flex flex-col gap-4 font-medium">
            <li>
              <a
                href="https://www.sosc.org.in"
                target="_blank"
                class="underline underline-offset-2 font-light"
                >Website</a
              >
            </li>
            <li>
              <a
                href="https://www.sosc.org.in/guidelines"
                target="_blank"
                class="underline underline-offset-2 font-light"
                >Community Guidelines</a
              >
            </li>
            <li>
              <a
                href="https://github.com/so-sc/code-of-conduct"
                target="_blank"
                class="underline underline-offset-2 font-light"
                >Code of Conduct</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <span class="text-sm">
        SOSC © {currentYear} All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
