---
import Navbar from "@/components/Navbar.astro";
import "../styles/global.css";
import "@fontsource-variable/baloo-2";
import font from "@fontsource-variable/baloo-2/files/baloo-2-latin-wght-normal.woff2?url";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={font}
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>SOSC</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
